#fondo{
    background-color:rgba(158, 124, 11, 0.459);
}

#titulo{
    color:rgb(234, 234, 245);
    font-size: 300%;
    text-align: center;
    margin-right: 6%;
}

.espacio{ 
    color: black;
background-color:black ;
}

#carro{
    color: white;
    background-color: black;
    margin-top: 1%;
}